examples/wsdl/service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- <definitions> must be the root of the WSDL document -->
<wsdl:definitions targetNamespace="http://tempuri.org/" 
  xmlns:s="http://www.w3.org/2001/XMLSchema" 
  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
  xmlns:tns="http://tempuri.org/" 
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" 
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <!-- WSDL TYPES: definition of the data types that are used in the web service -->
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:complexType name="tSubject">
        <s:sequence>
        <s:element name="Code_Subject" type="s:string"/>
        <s:element name="Name_Subject" type="s:string"/>
        <s:element name="Credits" type="s:int"/>
        <s:element name="Typology" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOftSubject">
        <s:sequence>
            <s:element name="tSubject" type="tns:tSubject" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </s:sequence>
      </s:complexType>
      <s:element name="Request">
        <s:complexType>
          <s:sequence>
            <s:element name="bSelected" type="s:boolean"/>
        </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Subject">
        <s:complexType>
          <s:sequence>
            <s:element name="AllSubjects" type="tns:ArrayOftSubject"/>
        </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <!-- MESSAGES: defines the data being exchanged between the service and client -->
  <wsdl:message name="SoapIn">
    <!-- <wsdl:part name="parameters" element="tns:MessageSplitterRequest"/> -->
    <wsdl:part name="parameters" element="tns:Request"/>
  </wsdl:message>
  <wsdl:message name="SoapOut">
    <!-- <wsdl:part name="parameters" element="tns:MessageSplitterResponse"/> -->
    <wsdl:part name="parameters" element="tns:Subject"/>
  </wsdl:message>

  
  <!-- PORT TYPES: defines the complete communication operation (one way/round trip) -->
  <wsdl:portType name="AllSubjectsSoapPort">
    <!-- The operation name must be the same as the one specified in the service object -->
    <wsdl:operation name="AllSubjects">
        <wsdl:input message="tns:SoapIn"/>
        <wsdl:output message="tns:SoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <!-- BINDING: provides details on how a portType operation will actually be transmitted -->
  <wsdl:binding name="AllSubjectsServiceSoapBinding" type="tns:AllSubjectsSoapPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="AllSubjects">
      <soap:operation soapAction="AllSubjects" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AllSubjectsServiceSoap12Binding" type="tns:AllSubjectsSoapPort">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="AllSubjects">
      <soap12:operation soapAction="AllSubjects" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <!-- SERVICE:  -->
  <wsdl:service name="AwareSubjectsService">
    <wsdl:port name="AwareSubjectsServiceSoapPort" binding="tns:AllSubjectsServiceSoapBinding">
      <soap:address location="http://35.196.243.64:8080/wsdl"/>
    </wsdl:port>
    <wsdl:port name="AwareSubjectsServiceServiceSoap12Port" binding="tns:AllSubjectsServiceSoap12Binding">
      <soap12:address location="http://35.196.243.64:8000/wsdl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>